<style>
	body {
		background: url(<%= @url %>);
	}
</style>
<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <div class='well'>
        <h1>Look up your local forecast</h1>
        <p>What's the weather's like in your city?</p>
        <!--A form to take city and state-->
        <div>
            <%= form_tag index_path do %>
                      
            <%= text_field_tag :city, nil, placeholder: "Enter your Zipcode or City Name" %><br />
            <%= select_tag :state, options_for_select(@states), :prompt => "Please select" %><br />
            <%= submit_tag "Check the Weather" %>
          <% end %>
        </div>
    </div>
  </div>
<section>
  <div class='col-md-6 col-md-offset-3'>
    <div class='well'>
      <h1>Forecast for <%= @location %>: </h1>
      <div class='row'>
        <div class='col-md-7'>
          <p><em>What's the weather like?</em></p>
          <p>The temperature is: <%= @temp_f %>&deg; F / <%= @temp_c %> C </p>
          <p>It feels like: <%= @real_feel %> F </p>
        </div>
          <div class='col-md-5'>
          <p><%= @weather_words %> <%= image_tag @weather_icon %></p>
          <p><%= link_to "Full Forecast", @forecast_link, target: "_blank" %></p>

          <iframe width="200" height=200" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=12&center=<%=@lati%>%2C<%=@long%>&key=AIzaSyBhRhHMK-3Z72u-nMp3IReYH07S_W7jmxI" allowfullscreen>
          </iframe>
        </div>
    </div>
  </div>
</div>
</section>

<section class="case">
  <ul class="unstyled">
        <li>
          <blockquote class="embedly-card" data-card-key="ab731efa79d743cdbdd3624f6607ac53" data-card-controls="0" data-card-width="100" data-card-align="left"><h2><a href="http://www.meetup.com/find/">Find your people - Meetup</a></h2><p></p></blockquote><script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </li>
        <li>
          <blockquote class="embedly-card" data-card-key="ab731efa79d743cdbdd3624f6607ac53" data-card-controls="0" data-card-width="100"><h4><a href="http://www.yelp.com/search?find_desc=&find_loc=Raleigh%2C+NC&ns=1">Yelp - Munchies</a></h4><p></p></blockquote>
          <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </li>
        <li>
          <blockquote class="embedly-card" data-card-key="ab731efa79d743cdbdd3624f6607ac53" data-card-controls="0" data-card-width="100"><h4><a href="http://www.howlocal.net/users/sign_in">HOW LOCAL</a></h4><p></p></blockquote>
          <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </li>
  </ul>
</section>